

html, body {
    background-color: cyan;
    margin: 0;
    padding: 0;

}



.left-top-bt {
    position: fixed;
    border: none;
    top: 15px;
    left: 15px;
    cursor: pointer;
    font-size: 25px;
    color: rgba(250, 20, 20, 0.5);
    background-color: black;

    box-shadow: 0 0 0 rgba(255, 0, 255, 0); /* start with no outer glow */
    transition: box-shadow 0.3s ease, transform 0.1s ease;
}

.left-top-bt:hover {
    animation: pulse 1s infinite;
}

.pulse-button:active {
    transform: translateY(4px);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(128, 0, 128, 0.7);
    }
    50% {
        box-shadow: 0 0 0 15px rgba(128, 0, 128, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(128, 0, 128, 0);
    }
}


.my-name {
    font-size: 45px;
    color: white;
    text-align: center;
}

.my-bio-section {
    font-size: 25px;
    color: white;
    text-align: center;
}


.middle-button {
    height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
