

html, body {
    background-color: cyan;
    margin: 0;
    padding: 0;

}



.left-top-bt {
    position: fixed;
    border: none;
    top: 15px;
    left: 15px;
    cursor: pointer;
    font-size: 25px;
    color: rgba(250, 20, 20, 0.5);
    background-color: black;

    box-shadow: 0 0 0 rgba(255, 0, 255, 0); /* start with no outer glow */
    transition: box-shadow 0.3s ease, transform 0.1s ease;
}

.left-top-bt:hover {
    animation: pulse 1s infinite;
}

.pulse-button:active {
    transform: translateY(4px);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(128, 0, 128, 0.7);
    }
    50% {
        box-shadow: 0 0 0 15px rgba(128, 0, 128, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(128, 0, 128, 0);
    }
}


.my-name {
    font-size: 45px;
    color: white;
    text-align: center;
}

.my-bio-section {
    font-size: 25px;
    color: white;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 300px;
    height: 400px;
    margin: 20px auto;

}
.box {
    background-color: #348f; 
    color: white;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;


}

.box {
    border-radius: 20px;

}

.redbox {
    display: grid;
    background-color: #e7e;
    align-items: center;
    justify-content: center;
    border-radius: 100px;

}

.redbox:hover {
    background-color: #800e0e;
    color: white;
    cursor: grab;
}

.greenbox {
    display: grid;
    background-color: blue;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.greenbox:hover {
    background-color: rgb(12, 212, 12);
    cursor: pointer;

}

.cyanbox {
    display: grid;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: cyan;

}

.cyanbox:hover {
    cursor: grabbing;
    background-color: rgb(160, 25, 140);
}

